.question .question-bg {
  background-image: url("https://s3-alpha-sig.figma.com/img/c558/56f1/074a76c0613b7249fa2847b58b2160cd?Expires=1647820800&Signature=D4h8p4Fp1bXnsCEMB20API6aUomP8uE6v2u9xM-Sfj0tAH69oIBZES95JuT8u2y80aupUbcEcNokObgzQj~ifbT6Ny-TLlX0NfVnJ1BD8zVYW90w52fpwevvjMOcGiQNkw1yqtzoCxF6orfOWbm-W2MBEoaHTNQ0DhztfWjLN1HSebcQcKtWYuaulfYkuL2-BZZNyl5wNDqO~nuosdHsB3ILLOhCwDFy1CAPGgBYWWcBKwal7Aw8AN1v~6utg4gYqdv1gbcE2fIWG1pz~6OM4JaI8rX-oDqd7yVaBcWFfxq1rnwmFeqHp6ktl4rX0BCu4Uo5pi73TM0YZy-s8SamBQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  position: relative;
  background-size: cover;

  .lap-left {
    position: absolute;
    top: -10rem;
    left: -8rem;
    width: 478px;
    height: 478px;
    transform: rotate(17.12deg);

    img {
      width: 100%;
    }
  }
}

.question .question-bg .title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  padding: 4rem 0;
  display: none;
  font-weight: 600;
}

.question .lists {
  width: 100%;
}

.question .list-left {
  width: 45%;
  margin-bottom: 6rem;
  color: #fff;
  flex-direction: column;

  .title-second {
    font-size: 3rem;
    font-weight: 700;
    display: block;
  }

  .comment {
    font-size: 1rem;
    padding: .5rem;
  }
}

.question .list-right {
  width: 1000px;
  height: 800px;

  img {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .question .question-bg .lap-left {
    width: 278px;
    height: 278px;
    top: -7rem;
    left: -3rem;
  }

  .question .question-bg .title {
    display: block;
    font-size: calc(1vw + 2.5rem);
  }

  .question .lists {
    padding: 5rem 0;
  }

  .question .list-left {
    margin: 0;

    .title-second {
      display: none !important;
    }

    .comment {
      font-size: calc(.7vw + .3rem);
      padding: .2rem;
    }
  }

  .question .list-right {
      width: 378px;
      height: 259px;
  }
}

@media (max-width: 575.98px) {
  .question-bg .title {
    margin-left: auto;
    width: 300px !important;
  }

  .question .lists {
    flex-direction: column;
    align-items: center;

    .list-left {
      width: 100% !important;

      .comment {
        font-size: calc(1vw + .5rem) !important;
      }
    }
  }
}
